mat-toolbar {
	background-color: #263238;
	color: #aeea0a;
	font-size: 25px;

}


.helpper{
	width: 60vw;
	float:left;
}

.main-wrapper {
	.add-person {
		position: absolute;
		bottom: 150px;
		right: 14vw;
		background-color: #aeea0a;
		width: 200px;
		height: 40px;
		color: #343a40;
	}
}

table, .form {
	margin-left: 8vw;
	width: 80vw;
}


table {
	margin-top: 70px;
	border-collapse: collapse;
}

.loading {
	font-family: Roboto,"Helvetica Neue",sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(212, 212, 212, 0.7);
	z-index: 2;
}

.form {
	text-align: center;
	display: block;
	padding: 80px;
	width: 60%;
	height: 150px;
}

mat-form-field{
	padding-left: 15px;
}

#buttons {
	margin-top: 16px;
	display: flex;
	justify-content: space-around;
}

td {
	font-size: 14px;
	background-color: white;
	text-align: center;
}

.edit{
	color:#aeea0a;
	border-style: none;
	background: none;
}

.delete {
	color: red;
	border-style: none;
	background: none;
}

button{
	cursor: pointer;
	border-radius: 10px;
	border: none;
	font-weight: bold;
}

.cancel{
	width: 150px;
	height: 30px;
	background-color: #263238;
	color: white;
}

.save{
	width: 150px;
	height: 30px;
	background-color: #aeea0a;
	color: #343a40;
}

th{
	font-size: initial;
	color: white;
	background-color: #263238;
	border: solid #263238;
	border-top-width: 8px;
	border-bottom-width: 10px;
}

.field{
	text-align: center;
}

